<div class="well">
<div ng-if="$ctrl.clasificacionesTab.clasJornada.length!=0">
<table class="table table-condensed">
     <caption>Clasificación Jornada</caption>
     <thead>
      <tr>
        <th>Equipo</th>
        <th>Puntos</th>
      </tr>
    </thead>
	<tr ng-repeat="jugador in $ctrl.clasificacionesTab.clasJornada">
        	<td>{{ jugador.usuario }}</td> 				<td>{{jugador.puntos}}</td>
        </tr>
</table>
</div>

<div ng-if="$ctrl.clasificacionesTab.clasJornada.length==0">
	<p>No hay equipos</p>
</div>
</div>
