<div class="well">
<div ng-if="$ctrl.appAdmin.clas_equipos.length!=0">
<table class="table table-condensed">
     <thead>
      <tr>
        <th>Equipo</th>
        <th>Puntos</th>
      </tr>
    </thead>
	<tr ng-repeat="equipo in $ctrl.appAdmin.clas_equipos" ng-class="{ danger: $ctrl.isSelected(equipo) }"  ng-click="$ctrl.onSelect(equipo)">
        	<td class="col-sm-2">{{ equipo.usuario }}</td> 		<td class="col-sm-1">{{equipo.puntos}}</td>
        </tr>
</table>
</div>

<div ng-if="$ctrl.appAdmin.clas_equipos.length==0">
	<p>No hay equipos</p>
</div>
</div>
